.logoBox {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.Logo {
  width: 150px;
}

.buttonBoxes {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (max-width: 600px) {
  .seomoonLogo {
    width: 150px;
  }

  .buttonBoxes {
    margin: 65px auto;
  }
}