.loadingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 50px;
}

.loadingBox img {
  width: 180px;
}

@media all and (max-width: 600px) {
  .loadingBox {
    margin-top: 150px;
  }

  .loadingBox img {
    width: 120px;
  }
}